*zig-*
zemit/
teste.fl
.c.sh
copy.fl
erro
.venv
.flint*

install


# Release Tools
zemit
zemit.toml

debian/flint/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/*.log
debian/*.substvars
temp/

tmp/